*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#F3E3D0;
}


.site-container{
width:90%;
max-width:1200px;
margin:auto;
}


.site-header{
background:#1A3263;
color:white;
padding:15px 0;
position:sticky;
top:0;
z-index:1000;
}

.site-header .site-container{
display:flex;
justify-content:space-between;
align-items:center;
}

.site-logo{
font-size:20px;
font-weight:bold;
}

.site-nav ul{
display:flex;
gap:20px;
list-style:none;
}

.site-nav a{
color:white;
text-decoration:none;
transition:0.3s;
}

.site-nav a:hover{
color:#AACDDC;
}


.site-hero{
background: url("../background.png"); center/cover no-repeat;
min-height:600px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
color:white;
}

.site-hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.3);
}

.hero-content{
position:relative;
z-index:2;
}

.hero-content h1{
font-size:40px;
margin-bottom:10px;
}

.hero-content p{
font-size:18px;
margin-bottom:15px;
}


.site-btn{
padding:12px 25px;
background:#AACDDC;
color:#1A3263;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

.site-btn:hover{
background:#1A3263;
color:white;
}


.site-footer{
background:#1A3263;
color:white;
padding:30px 0;
margin-top:40px;
}

.footer-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.site-footer a{
color:#AACDDC;
text-decoration:none;
}

.site-footer a:hover{
color:white;
}

.copyright{
text-align:center;
margin-top:20px;
font-size:14px;
}


@media(max-width:768px){

.site-header .site-container{
flex-direction:column;
gap:10px;
}

.site-nav ul{
flex-wrap:wrap;
justify-content:center;
}

.site-hero{
min-height:400px;
padding:20px;
}

.hero-content h1{
font-size:26px;
}

.hero-content p{
font-size:15px;
}

.footer-grid{
grid-template-columns:1fr;
text-align:center;
}

}
